extends layout

block content
    .container
        form#post-form.form-group(action='/post/write' method='post')
            h1
            .input-group.my-3
                //- .input-group-prepend
                    span.input-group-text Title
                input.form-control(type=text name='title' placeHolder='Title')
            .input-group.mb-3
                select(name="category")
                    option(value='root' selected) /
                    each category in categories
                        option(value=category.id) #{category.name}
            .input-group.hidden-input
                label(for='post-content')
                textarea.post-content.editor(name='content')
            .input-group
                label(for='post-content')
                #body-section.form-control.vh-100
            .input-group.my-3
                .input-group-prepend
                    span.input-group-text  Tags
                input.form-control(type=text name='tags')        
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text Summary
                textarea.form-control(type=text name='summary')
            button#post.form-control.btn-primary.py-1.h-100(type='submit') POST        
        script.
            
            
            
