extends layout

block content   
    .post-title=`${title}`
    .post-content
        #content=`${content}`
    hr    
    if(user)
        form#form-comment(class='form-comment' action=`/post/${post.id}/comment` method='POST')            
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text comment
                textarea#comment-text(class='form-control' name='comment') 
                .input-group-append           
                    button#comment-send(class='btn btn-outline-secondary' type='button') send                    
    each comment in post.comments
        div(class='comment')=`${comment.content}`
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js")
    script.
        var converter = new showdown.Converter();
        
        var content = document.getElementById('content');
        content.innerHTML = converter.makeHtml(content.innerHTML);
        //
        if( document.getElementById('comment-send') ) {
            document.getElementById('comment-send').addEventListener('click', function (e) {                                
                var text = document.getElementById('comment-text');
                var formData = new FormData();
                formData.append(text.name,text.value);
                console.log('name,value',text.name, text.value);
                console.log('form comment',formData.get(text.name));
                var xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    console.log(JSON.parse(xhr.responseText));
                }        
                xhr.open('POST','/post/#{post.id}/comment'); 
                //- xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencode');
                //- xhr.setRequestHeader('Content-Type', 'multipart/form-data   ');
                xhr.send(formData);  
            });
        }

        
    