extends layout

block content   
    h1.post-title #{title}
    - var formatter = new Intl.DateTimeFormat('ko-KR',{ year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });
    p.text-muted  #{formatter.format(post.createdAt)}
    .post-content
        #content-body #{content}
    hr    
    if(user)
        form#form-comment(class='form-comment' acti on='/post/#{post.id}/comment' method='POST')            
            .input-group.mb-3
                .input-group-prepend
                    span.input-group-text comment
                textarea#comment-text(class='form-control' name='comment') 
                .input-group-append           
                    button#comment-send(class='btn btn-outline-secondary' type='button') send                    
    #comment-area
        each comment in post.comments
            .comment-username #{comment.user.username}
            .comment-createdat #{comment.createdAt}
            div(class='comment') #{comment.content}
    script.
       

        
    
